{% extends 'base.html.twig' %}

{% block body %}
    <h2>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h2>
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('img/todolist_homepage.jpg') }}" alt="" >
    </div>
{% endblock %}