{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tâche{% endblock %}

{% block body %}
    <h1>Créer une nouvelle tâche</h1>

    <div class="col-12 col-md-8">
        {{ include('task/_form.html.twig') }}

        <a href="{{ path('app_task_index') }}">Retour à la liste</a>
    </div>

{% endblock %}
