{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur : {{ user.username }}</h1>

    <div class="col-12 col-md-8">
        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

        <p>
            <a href="{{ path('app_user_index') }}">retour à la liste</a>
        </p>
    </div>
    
{% endblock %}
