{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    <div class="col-12 col-md-8">
        {{ include('user/_form.html.twig') }}
    </div>

{% endblock %}
